body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header .container {
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 25.5px 156px;
}

.navbar-links {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navbar-links .link {
  text-decoration: none;
  color: #2e2f42;
}

.navbar-links .link:focus {
  text-decoration: none;
  color: #404bbf;
}

.navbar-links .link:hover {
  text-decoration: none;
  color: #404bbf;
}

.navbar-links .link:active {
  text-decoration: none;
  color: #404bbf;
}

.address-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  color: #434455;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.address-links .link {
  text-decoration: none;
  color: #434455;
}

.address-links .link:hover {
  text-decoration: none;
  color: #404bbf;
}

.address-links .link:focus {
  text-decoration: none;
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
header .logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-link .accent {
  color: #2e2f42;
}

.main-section {
  background: #2e2f42;
}

.main-section .container {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  padding: 188px 472px;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
  color: #fff;
}

.order-button {
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-button:focus {
  background-color: #404bbf;
}

.order-button:hover {
  background-color: #404bbf;
}

.benefits,
.team-list {
  list-style: none;
  gap: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.portfolio-list {
  list-style: none;
  gap: 24px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.benefits-section {
  color: #2e2f42;
}

.benefits-section .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 120px 156px;
}

.team-section .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 120px 156px;
}

.portfolio-section .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 120px 156px;
}

.benefit {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}

.team-section {
  background: #f4f4fd;
  color: #2e2f42;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  background: #fff;
  display: inline-flex;
padding-bottom: 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member .card-content{
  display: flex;
width: 232px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}

.portfolio-section {
  color: #2e2f42;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  background: #fff;
  display: flex;
width: 360px;
padding-bottom: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
}

.portfolio-item .card-content{
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.footer {
  background: #2e2f42;
}

.footer .container {
  padding: 101.5px 1020px 100px 156px;
}

.footer .text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  width: 264px;
}

.footer .logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 17.5px;
}

.footer .logo-link .accent {
  color: #f4f4fd;
}
