body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navbar-links {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
}

.navbar-links .link {
  text-decoration: none;
  color: #2e2f42;
}

.navbar-links .link:focus {
  text-decoration: none;
  color: #404bbf;
}

.navbar-links .link:hover {
  text-decoration: none;
  color: #404bbf;
}

.navbar-links .link:active {
  text-decoration: none;
  color: #404bbf;
}

.address-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  color: #434455;
}

.address-links .link {
  text-decoration: none;
  color: #434455;
}

.address-links .link:hover {
  text-decoration: none;
  color: #404bbf;
}

.address-links .link:focus {
  text-decoration: none;
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
header .logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-link .accent {
  color: #2e2f42;
}

.main-section {
  background: #2e2f42;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
  color: #fff;
}

.order-button {
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.order-button:focus {
  background-color: #404bbf;
}

.order-button:hover {
  background-color: #404bbf;
}

.benefits,
.team-list,
.portfolio-list {
  list-style: none;
}

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.benefits-section{
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: #434455;
}

.team-section {
  background: #f4f4fd;
  color: #2e2f42;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.team-member {
  background: #fff;
}

.portfolio-section{
  color:#2e2f42;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  background: #fff;
}

.footer {
  background: #2e2f42;
}

.footer .text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer .logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.footer .logo-link .accent {
  color: #f4f4fd;
}
